@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito+Sans:wght@300;400;600&display=swap');

body {        
    background-color: #FFF9F9;
    background-image: url("/static/images/second_background.png");
    background-attachment: fixed;
    background-position: center top;
    font-size: 1.4rem;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    transition:500ms ease;
    margin-bottom: 3rem;
}

.navbar-custom {
    background-color: transparent;
}

.navbar-close {
    visibility: hidden;
}

/* define font style for headers */
h1, h2, h3, h4, h5, h6, 
h1>a, h2>a, h3>a, h4>a, h5>a, h6>a,
 {
    font-family: 'Amatic SC', cursive !important;
    font-weight: 700 !important;
}

p {
    font-family: 'Nunito Sans', sans-serif !important;
    font-weight: 300;
    font-size: 0.75rem;
    color: #848484;
}

/* img {
   width: 100%;
   height: auto;
 } */

#logo{
    width: 292px;
    height: auto;
}

#website-desc {
    font-size: 1em;
    color: #000;
    font-family: 'Amatic SC', cursive;
    font-weight: 300;    
}

.cursive-font {
    font-family: 'Amatic SC', cursive !important;
    font-size: 1.1em !important;
    font-weight: 400 !important;

}

.navbar {
    font-family: 'Amatic SC', cursive; 
    font-weight: 400;    
}

.navbar a {
    color: #000;
    font-family: 'Amatic SC', cursive !important; 
    font-weight: 400; 
    font-size: 2rem !important; 
}

.navbar a:hover {
    color: #FFF;
    background-color: #FF8080;
}

.navbar-toggler{
    background-color: #FF8080;
}

.navbar-toggler .custom-icon{
    color:#FFF;
    background-color: #FF8080;
}

.link-border{
    border-color: #FF8080 !important;
    border-width: 2px !important;
}

.btn {
    font-size: 0.9em !important;
    font-weight: 300;
}

.btn a:visited, .btn a:link{
    color: #000;
}

.btn:hover, .btn a:hover{
    background-color:#FF8080 !important;
    color:#FFF !important;
    text-decoration: none;
}

.btn-sm {
        font-size: 0.65em !important;
    }

.pink-bg {
    background-color:#FF8080 !important;
}

.lightpink-bg{
    background-color:#ffdede !important;
}

label {
    font-family: 'Amatic SC', cursive;
    font-weight: 400;  
    font-size: 1.25rem !important;
}

input, textarea, label.custom-checkbox-label, select>option {
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 0.8rem !important;
    font-weight: 300;
}


a:visited, a:link{
    color: #676767;    
    font-family: 'Nunito Sans', sans-serif;
    font-weight:300;
    font-size: 0.8rem;
}

a:hover{
    color:#FF8080;
    text-decoration: none;
}

.form-control{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.75rem !important;
    font-weight: 300;
}


.custom-select{
    width: 14rem;
} 

.pink-bg-50 {
    background-color: rgba(255, 222, 222, 0.5)
}

.pink-text {
    color:#FF8080;
}

.small-link{
    font-size: 0.75em !important;
}

.uploadcare--widget__button_type_open {
    background-color: #FFF;
    color:#676767;
    border: 2px solid #FF8080;
}

.uploadcare--widget__button_type_open:hover {
    background-color: #FF8080;
    border: 2px solid #FF8080;
}

#edit-profile,
#write-review,
#my-reviews {

    background-repeat: no-repeat;
    background-position: center;
    height: 3em;
    width: 3em;
    padding:0.22em;
    align-self: center;
    display:inline-flex;

}

#edit-profile {
    background-image: url('/static/images/user.svg');
}

#write-review {
    background-image: url('/static/images/write.svg');
}

#my-reviews {
    background-image: url('/static/images/reviews.svg');
}

.my-reviews p, .card-text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight:300;
    font-size: 0.75rem;
}

.card{
    max-width: 20rem;
    min-width: 18rem;
}

.card-title a {
    color: #FF8080;
    font-weight: 500;
    line-height: 0.8rem;
}

.card-title a:hover{
    border-bottom: 2px dotted #FF8080;
    transition: 200ms ease-in-out;
}

.card-text strong, .my-reviews p strong {
    font-weight:600;
    font-size: 1.05em;
}

.stars {
    font-size:0.85em;
}

.scrolled{
    background-color: #FFF9F9;    
}

.feather-32 {
    width: 32px;
    height: 32px;
}


.feather-18 {
    width: 18px;
    height: 18px;
}

.feather-12 {
    width: 12px;
    height: 12px;
}


#search_results>.card-columns {
        column-count: 2;
    }

.card-columns {
        column-count: 4;
    }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 576px) and (max-width: 991.98px) { 
    .card-columns {
        column-count: 2;
    }

    .navbar-custom {
        background-color:#FF8080;
        width: 100%;
        z-index: 1030;
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px;
        transition: ease-in-out 0.2s;
    }

    .navbar-toggler{
        position: fixed;
        top: 15px;
        left: 25px;
        z-index: 1030;
    }

    .navbar-close {
        z-index: 1030;
        position: fixed;
        top: 0px;
        left: 35px;
        visibility: visible;
        font-size:2em !important;
    }

    .navbar a {
        color: #FFF !important;
        font-size: 1.8em;
    }

    .custom-select{
        width: 160px;
    } 
    

 }
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    body {
        margin-top: 15px;
        font-size: 1.2em; */
        /* load smaller background for mobile layout */
        background-image: url("/static/images/mobile_background_2.png");
    }

    .navbar-custom {
        background-color:#FF8080;
        width: 100%;
        z-index: 1030;
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px;
        transition: ease-in-out 0.2s;

    }

    .navbar-toggler{
        position: fixed;
        top: 25px;
        left: 15px;
        z-index: 1030;
    }

    .navbar-close {
        z-index: 1030;
        position: fixed;
        top: 20px;
        visibility: visible;
    }

    .navbar a {
        color: #FFF;
        font-size: 2em !important;
    }

    .btn a:visited, .btn a:link{
        color: #FFF;
    }

    

    #website-title a{
        /* font-size: 2.5em; */
        line-height: 0.9em;
    }

    #website-desc {
        font-size: 1.15em;
        color: #000;
        font-family: 'Amatic SC', cursive;
        font-weight: 400;    
    }

    .shift-position{
        top: 35px;
    }

    .card-columns {
        column-count: 1;
    }

 }



