/* 

import google fonts
Amatic SC is used for headlines and titles
Nunito Sans is used for content

 */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito+Sans:wght@300;400;600&display=swap');

body {
    /* to fix the background for landing page */
    background-color: #FFF9F9;
    background-image: url(../images/main_background.png), url(../images/main_background_layer2.png);
    background-position: center, center !important;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, 70%;
    background-attachment: fixed, fixed;
    height:100%;
    font-family: 'Nunito Sans', sans-serif;
}

/* define font style for headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
    weight: 700;
}

/* home container */
#home {
    height:100%;
}