@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito+Sans:wght@300;400;600&display=swap');

body {
        
    background-color: #FFF9F9;
    background-image: url("/static/images/second_background.png");
    background-attachment: fixed;
    background-position: center top;
    font-size: 1.4em;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
}

/* define font style for headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

#website-title a{
    font-size: 3.63em;
    color: #FF8080;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    line-height: 0.9em;
}

#website-desc {
    font-size: 1.5em;
    color: #000;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;    
}

.navbar {
    font-family: 'Amatic SC', cursive; 
    font-weight: 400;    
}

.navbar a {
    color: #000;
}

.navbar a:hover {
    color: #FFF;
    background-color: #FF8080;
}

.navbar-toggler{
    background-color: #FF8080;
}

.navbar-toggler .custom-icon{
    color:#FFF;
    background-color: #FF8080;
}

.link-border{
    border-color: #FF8080 !important;
    border-width: 2px !important;
    
}

.btn {
    font-size: 1.25em !important;
}

.btn a:visited, .btn a:link{
    color: #000;
}

.btn:hover, .btn a:hover{
    background-color:#FF8080 !important;
    color:#FFF !important;
    text-decoration: none;
}

.pink-bg {
    background-color:#FF8080 !important;
}

.lightpink-bg{
    background-color:#ffdede !important;
}

label {
    font-family: 'Amatic SC', cursive;
    font-weight: 400;  
    font-size: 1.25em !important;
}

input, textarea, .custom-checkbox-label {
    font-family: 'Nunito Sans', sans-serif;
}

a:visited, a:link{
    color: #676767;
}

a:hover{
    color:#FF8080;
    text-decoration: none;
}

.pink-text {
    color:#FF8080;
}

.uploadcare--widget__button_type_open {
    background-color: #FFF;
    color:#676767;
    border: 2px solid #FF8080;
}

.uploadcare--widget__button_type_open:hover {
    background-color: #FF8080;
    border: 2px solid #FF8080;
}

#edit-profile,
#write-review,
#my-reviews {

    background-repeat: no-repeat;
    background-position: center;
    height: 3em;
    width: 3em;
    padding:0.22em;
    align-self: center;
    display:inline-flex;

}

#edit-profile {
    background-image: url('/static/images/user.svg');
}

#write-review {
    background-image: url('/static/images/write.svg');
}

#my-reviews {
    background-image: url('/static/images/reviews.svg');
}

.my-reviews p, .card-text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight:300;
    font-size: 0.63em;
}


.card-text strong, .my-reviews p strong {
    font-weight:600;
    font-size: 1.05em;
}

.stars {
    font-size:0.85em;
}