/* 

import google fonts
Amatic SC is used for headlines and titles
Nunito Sans is used for content

 */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito+Sans:wght@300;400;600&display=swap');

body {
    /* to fix the background for landing page */
    background-color: #FFF9F9;
    background-image: url(../images/main_background.png), url(../images/main_background_layer2.png);
    background-position: center, center !important;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, 70%;
    background-attachment: fixed, fixed;
    font-family: 'Nunito Sans', sans-serif;
}

/* define font style for headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
    weight: 700;
}

/* home container */

#home {
    font-family: 'Amatic SC', cursive;
    weight: 400;
}

#home h1 {
    font-size: 6.6em
}

#home p{
    font-size: 3.2em;
}

#home a{
    font-size: 1.06em;
}

#home .btn {
    font-size: 2.4em;
}

.small-link {
    font-family: 'Nunito Sans', sans-serif;
    font-weight:300;
}

a:visited, a:link{
    color: #676767;
}

a:hover{
    color:#FF8080;
    text-decoration: none;
}

#home .btn a:visited, #home .btn a:link{
    color: #676767;
}

#home .btn:hover{
    background-color:#FF8080 !important;
    color:#FFF !important;
    text-decoration: none;
}

.link-border{
    border-color: #FF8080 !important;
    border-width: 2px !important;
    
}
