{% extends 'main.template.html' %}

    {% block externalscript %}

    <script>UPLOADCARE_PUBLIC_KEY = "{{public_key}}";</script>
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>

    {% endblock %}

    {% block login_user %}
        {% if user %}
            <div class="container my-3">
                <h1 class="text-center pink-text mb-3">Hello, {{user.name}}</h1>
            
                <div class="row justify-content-center mx-0 px-0">
                    <div class="col-sm-2 text-center">
                        <div id="edit-profile" class="mb-1 border border-dark rounded-circle"></div>
                        <div><a href="{{url_for('edit_profile', user_id=user._id)}}">Edit Profile</a></div>
                    </div>
                    <div class="col-sm-2 text-center">
                        <div id="write-review" class="mb-1 border border-dark rounded-circle"></div>
                        <div><a href="{{url_for('add_review', user_id=user._id)}}">Add A Review</a></div>
                    </div>
                    <div class="col-sm-2 text-center">
                        <div id="my-reviews"  class="mb-1 border border-dark rounded-circle"></div>
                        <div><a href="{{url_for('view_my_reviews',user_id=user._id)}}">My Reviews</a></div>
                    </div>
                </div>
            </div>
            {% endif %}

    {% endblock %}


    {% block title %} Add A Beauty Product Review {% endblock %}     

    {% block content %}
    <div class="container">
    <div class="row justify-content-around">

    <div id="add-review" class="col-8 mx-auto bg-white shadow p-5">   
        {% if user %}

        <form method="POST">
        
            <!-- Add Review Form Section One -- Product Information -->

            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="title">Title </label> 
                <div class="col-sm-8 col-md-8">
                    <input class="form-control rounded-0 border-top-0 border-left-0 border-right-0 border-bottom" type="text" name="title" id="title" />
                </div>
            </div>

            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="product_name">Product Name </label> 
                <div class="col-sm-8 col-md-8">
                    <input class="form-control rounded-0 border-top-0 border-left-0 border-right-0 border-bottom" type="text" name="product_name" id="product_name" />
                </div>
            </div>

            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="product_brand">Brand </label> 
                <div class="col-sm-8 col-md-8">
                    <input class="form-control rounded-0 border-top-0 border-left-0 border-right-0 border-bottom" type="text" name="product_brand" id="product_brand" />
                </div>
            </div>

            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="country_of_origin">Country of Origin </label> 
                <div class="col-sm-7 col-md-7">
                    <input class="form-control rounded-0 border-top-0 border-left-0 border-right-0 border-bottom" type="text" name="country_of_origin" id="country_of_origin" />
                </div>
            </div>

            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="categories">Categories </label> 
                <div class="col-sm-8 col-md-8">
                    <!-- Get Categories from Categories table-->
                    {% for c in cat %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="categories" id="{{c._id}}" value="{{c._id}}">
                            <label class="form-check-label" for="{{c._id}}">{{c.name}}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Add Review Form Section Two -- Review  -->

            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="categories">Rating </label> 
                <div class="col-sm-8 col-md-8">
                    <select name="rating" class="custom-select"> 
                        <option value="5" selected>5 - Excellent</option>
                        <option value="4">4 - Very Good</option>
                        <option value="3">3 - Good</option>
                        <option value="2">2 - Bad</option>
                        <option value="1">1 - Very Bad</option>
                    </select>
                </div>
            </div>
                    
            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="categories">Review </label> 
                <div class="col-sm-8 col-md-8">
                     <textarea name="review" class="form-control" rows="4"></textarea>
                </div>
            </div>
    
            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="categories">Upload an Image </label> 
                <div class="col-sm-8 col-md-8">
                   <input type="hidden" role="uploadcare-uploader" name="product_image" />
                </div>
            </div>
            
            <div class="row justify-content-center mt-3">
                <button class="col-sm-3 form-control btn link-border m-2 rounded-0" type="submit" value="Add Review">Add Review</button> 
                <a class="col-sm-3 form-control btn link-border m-2 rounded-0" href="{{url_for('index')}}">Cancel</a>
            </div>
        </form>

        {% else %}
            <p class="text-center">
                Please login to write a review. <br/>
                <a href="{{url_for('user_login')}}?redirect={{request.path}}">Login</a>
            </p>
        {% endif %}
    </div>
    </div>
    </div>
    {% endblock %}
