{% extends 'main.template.html' %}

    {% block externalscript %}

    <script>UPLOADCARE_PUBLIC_KEY = "{{public_key}}";</script>
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>

    {% endblock %}

    {% block title %} Delete Review {% endblock %}     

    {% block content %}

        <div class="container">
            <div class="row justify-content-around">
                <div id="update-review" class="col-8 mx-auto bg-white shadow p-5">  
                <form method="POST">
                    Are you sure you want to delete <strong>{{r.title}}</strong> ?

                    <input type="submit" value="Delete Review" /> 
                    <a href="{{url_for('read_reviews')}}">Cancel</a>

                </form>
                </div>
            </div>
        </div>

    {% endblock %}
