{% extends 'main.template.html' %}

    {% block title %} Edit Your Review {% endblock %}     

    
    {% block content %}
        <form method="POST">
            <label>Title:</label> <input type="text" name="title" value="{{r.title}}" /><br/>
            <label>Posted On:</label> <input type="text" name="posted" value="{{r.posted}}"/><br/>
            <label>Product Name:</label> <input type="text" name="product_name" value="{{r.product_name}}"/><br/>
            <label>Brand:</label> <input type="text" name="product_brand" value="{{r.product_brand}}"/></br>
            <label>Country of Origin:</label> <input type="text" name="country_of_origin" value="{{r.country_of_origin}}" /><br/>
            <label>Categories:</label> 

                    {% for c in cat %}
                    
                        <input type="checkbox" name="categories" value="{{c._id}}" 
                           {% for category in r.categories %}
                                {% if c._id == category._id %}
                                    checked
                                {% endif %}
                            {% endfor %} 
                         >{{c.name}}</input> <br/>
                         
                    {% endfor %}
                    

            <label>Ratings:</label> 
            <select name="rating"> 
                {% for rating in ratings %}
                <option value="{{rating}}" {% if r.rating == rating %}selected{% endif %}>{{rating}}</option>
                {% endfor %}
            </select>
            <label>Review:</label> <input type="text" name="review" value="{{ r.review }}" /> <br/>
            {% endfor %}

            <input type="submit" value="Update My Review">
            <a href="{{url_for('index')}}">Cancel</a>
        </form>
    {% endblock %}
