{% extends 'main.template.html' %}

    {% block externalscript %}

    <script>UPLOADCARE_PUBLIC_KEY = "{{public_key}}";</script>
    <script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>

    {% endblock %}

    {% block page_title %} Edit Review {% endblock %}     


    {% block title %} Edit Your Review {% endblock %}     

    {% block login_user %}
        {% if user %}
            {% include 'users_section.template.html' %}
        {% endif %}

    {% endblock %}
    
    {% block content %}

    <div class="container">
    <div class="row justify-content-around">

        <div id="update-review" class="col-8 mx-auto bg-white shadow p-5">  

        <form method="POST">
            <input type="hidden" name="user_id" value="{{r.user_id}}" />

            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="title">Title </label> 
                <div class="col-sm-8 col-md-8">
                    <input class="form-control rounded-0 border-top-0 border-left-0 border-right-0 border-bottom" type="text" name="title" id="title" value="{{r.title}}" />
                </div>
            </div>

            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="product_name">Product Name </label> 
                <div class="col-sm-8 col-md-8">
                    <input class="form-control rounded-0 border-top-0 border-left-0 border-right-0 border-bottom" type="text" name="product_name" id="product_name" value="{{r.product_name}}"/>
                </div>
            </div>
            
             <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="product_brand">Brand </label> 
                <div class="col-sm-8 col-md-8">
                    <input class="form-control rounded-0 border-top-0 border-left-0 border-right-0 border-bottom" type="text" name="product_brand" id="product_brand" value="{{r.product_brand}}" />
                </div>
            </div>

            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="country_of_origin">Country of Origin </label> 
                <div class="col-sm-7 col-md-7">
                    <input class="form-control rounded-0 border-top-0 border-left-0 border-right-0 border-bottom" type="text" name="country_of_origin" id="country_of_origin" value="{{r.country_of_origin}}" />
                </div>
            </div>

            {% set _stub = cat.rewind() %}

            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="categories">Categories </label> 
                <div class="col-sm-8 col-md-8">
                    <!-- Get Categories from Categories table-->
                    {% for c in cat %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="categories" id="{{c._id}}" value="{{c._id}}" 
                            {% for category in r.categories if category.category_id == c._id %}
                                    checked
                            {% endfor %}>
                            <label class="form-check-label custom-checkbox-label" for="{{c._id}}">{{c.name}}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="rating">Rating </label> 
                <div class="col-sm-8 col-md-8">
                    <select name="rating" class="custom-select">
                        <option value="5" {% if r.rating == "4" %} selected {% endif %}>5 - Excellent</option>
                        <option value="4" {% if r.rating == "4" %} selected {% endif %}>4 - Very Good</option>
                        <option value="3" {% if r.rating == "3" %} selected {% endif %}>3 - Good</option>
                        <option value="2" {% if r.rating == "2" %} selected {% endif %}>2 - Bad</option>
                        <option value="1" {% if r.rating == "1" %} selected {% endif %}>1 - Very Bad</option>
                    </select>
                </div>
            </div>

            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="categories">Review </label> 
                <div class="col-sm-8 col-md-8">
                     <textarea name="review" class="form-control" rows="4" >{{ r.review }}</textarea>
                </div>
            </div>

            <div class="form-group row justify-content-start mb-3">
                <label class="col-form-label col-sm-3" for="categories">Image </label> 
                <div class="col-sm-8 col-md-8">
                    <img src="{{ r.image }}" height="100" />
                   <input type="hidden" name="existing_product_image" value="{{ r.image }}" />
                   <input type="hidden" role="uploadcare-uploader" name="product_image" />
                </div>
            </div>

            <div class="row justify-content-center mt-3">
                <button class="col-sm-3 form-control btn link-border m-2 rounded-0" type="submit" value="Update Review">Update</button> 
                <a class="col-sm-3 form-control btn link-border m-2 rounded-0" href="{{url_for('view_my_reviews',user_id=r._user_id)}}">Cancel</a>
            </div>
        </form>

        </div>
    </div>
    </div>
    {% endblock %}
