{% extends 'main.template.html' %}

    {% block title %} Edit Your Review {% endblock %}     

    
    {% block content %}
        Title: {{r.title}}<br/>
        Posted By: {{u.name}}<br/>
        Posted On: {{r.posted}}<br/>
        Product Name: {{r.product_name}}<br/>
        Brand: {{r.product_brand}}</br>
        Country of Origin: {{r.country_of_origin}}<br/>
        Categories: {% for category in r.categories %}
                        {{category.name}}
                    {% endfor %}<br/>
        Ratings: {{ r.rating }}<br/>
        Review: {{ r.review }}<br/>
        What I Like: {{ r.like }}<br/>
        What I Don't Like: {{ r.dislike }}<br/>
        Where to Buy: {% for p in r.where_to_buy %}
                        {{ p }}
                      {% endfor %}

    {% endblock %}
