{% extends 'main.template.html' %}

    {% block title %} Beauty Sharings {% endblock %}     


    {% block content %}
    {% for r in reviews%}
        Title: {{r.title}}<br/>
        Posted By: {% for u in users %} {% if r.user_id==u._id %}{{u.name}}{% endif %}{% endfor%}<br/>
        Posted On: {{r.posted}}<br/>
        Product Name: {{r.product_name}}<br/>
        Brand: {{r.product_brand}}</br>
        Country of Origin: {{r.country_of_origin}}<br/>
        Categories: {% for category in r.categories %}
                        {{category.name}}
                    {% endfor %}<br/>
        Ratings: {{ r.rating }}<br/>
        Review: {{ r.review }}<br/>
       
        <a href="{{url_for('edit_review', review_id=r._id)}}">Edit Review</a>
    {% endfor %}
    {% endblock %}
