<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block externalscript %}{% endblock %}
    <!-- FontAwesome kit code -->
    <script src="https://kit.fontawesome.com/d302b3e2ff.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/main.css" />

    <title>Pretty Good - 100% Consumers' Reviews on Beauty Products</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div id="website-title" class="mt-5"><a class="text-decoration-none" href="/">PRETTY GOOD</a></div>
                <div id="website-desc" class="m-0 pt-0">100% Consumers’ Reviews on Beauty Products</div>
            </div> 
        </div>

            <form class="form-inline my-2 my-lg-0" action="{{url_for('search')}}" method="POST">
               
                <div class="input-group mb-2 mx-auto text-shadow">
                    <input type="text" class="form-control rounded-left border-white shadow" id="search" name="search"
                        placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button type="submit" class="input-group-text pink-bg lighten-3 rounded-right border-white px-3"
                            id="btn-search-home" role="link"><i class="fas fa-search text-white"
                                aria-hidden="true"></i></button>
                    </div>
                    <span class="mx-3 mt-1"> 
                    {% if current_user.is_authenticated %}
                        <a class="small-link px-2" href="{{url_for('logout')}}?redirect={{request.path}}">Logout</a>
                    {% else %}
                        <a class="small-link px-2" href="{{url_for('user_login')}}?redirect={{request.path}}">Login</a>
                    {% endif %}  | 
                    <a class="small-link px-2" href="{{url_for('add_review')}}">Add A Review </a></span>
                </div>
            </form> 

            <nav class="navbar navbar-expand-lg navbar-light light-bg link-border ">
                <button class="navbar-toggler btn " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="text-white custom-icon"> <i class="fas fa-bars"></i></span>
                </button>
                
                <div class="collapse navbar-collapse nav" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto my-2">
                    <li class="nav-item mx-2 border link-border text-center btn p-0 rounded-0">
                        <a href="{{url_for('read_reviews')}}" class="nav-link px-4 py-2 text-decoration-none">All</a>
                    </li>
                    {% for c in cat %}
                        {% if c.name != "For Women" %} 
                        <li class="nav-item mx-2 border link-border text-center btn p-0 rounded-0">
                            <a href="{{url_for('read_reviews_by_category', cat_id=c._id)}}" class="nav-link px-4 py-2 text-decoration-none">{{c.name}}</a> 
                        </li>    
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </nav>

    </div>
    {% if user %}
    <div class="container my-3">
        <h1 class="text-center pink-text mb-3">Hello, {{user.name}}</h1>
       
        <div class="row justify-content-center mx-0 px-0">
            <div class="col-sm-2 text-center">
                <div id="edit-profile" class="mb-1 border border-dark rounded-circle"></div>
                <div><a href="{{url_for('edit_profile', user_id=user._id)}}">Edit Profile</a></div>
            </div>
            <div class="col-sm-2 text-center">
                <div id="write-review" class="mb-1 border border-dark rounded-circle"></div>
                <div><a href="{{url_for('add_review', user_id=user._id)}}">Write A Review</a></div>
            </div>
            <div class="col-sm-2 text-center">
                <div id="my-reviews"  class="mb-1 border border-dark rounded-circle"></div>
                <div><a href="{{url_for('view_my_reviews',user_id=user._id)}}">My Reviews</a></div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container-flex mt-5">
    <div class="row justify-content-center mx-0 px-0">
            <div class="col-sm-12 col-lg-10 col-md-10 mx-auto px-0">
            
        <h1 class="text-center mb-3">{% block title %} {% endblock %} </h1>
             </div>
    </div>
    </div>
    
    {% block content %} {% endblock %}
   
    <div class="container p-5">
        <div class="row">
            <div class="col">
            footer
            </div>
        </div>
    </div>


    <!-- For Boostrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- My own javascript -->
    <script src="/static/scripts/script.js"></script>
</body>
</html>