{% extends 'main.template.html' %}

{% block title %} My Reviews {% endblock %}

{% block content %}

<div class="container-flex mx-0 px-0">
    <div class="row justify-content-center mx-0 px-0">
        <div class="col-md-10 mx-0 px-0">
        {% for r in reviews %}

            <div class="my-reviews media justify-content-center mb-3 py-3 bg-white shadow">
                {% if r.image %}
                <img src="{{r.image}}}" class="mr-3" alt="{{r.product_name}}" width="100">
                {% endif %}
                <div class="media-body col-md-6">
                    <h4 class="mt-0">{{r.title}}</h4>
                    <p><strong>{{r.product_name}}</strong><br/>
                    {% set rating = r.rating | int %}
                    {% for i in range(0,rating) %}
                        <span class="pink-text stars"> <i class="fas fa-star"></i></span>
                    {% endfor %}</p>
                    <p>{{r.review}}</p>
                    <p class="card-text"><small class="text-muted">Posted on {{r.posted.strftime("%d-%m-%Y, %H:%M:%S")}}</small></p>
                </div>
                <div class="col-sm-2">
                    <a class="form-control btn link-border m-2 rounded-0" href="{{url_for('edit_review', review_id=r._id)}}">Edit Review</a>
                    <a class="form-control btn link-border m-2 rounded-0" href="{{url_for('delete_review', review_id=r._id)}}">Delete</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

    
{% endblock %}