{% extends 'main.template.html' %}

{% block page_title %} My Reviews {% endblock %}

{% block title %} My Reviews {% endblock %}

{% block login_user %}
    {% if user %}
        {% include 'users_section.template.html' %}
    {% endif %}

{% endblock %}

{% block content %}

<div class="container mx-auto px-0">
        {% for r in reviews %}
            <div class="row justify-content-around mx-2 px-0 mb-3 py-3 my-2 bg-white shadow">

                {% if r.image %}
                <div class="col-sm-3 mr-2">
                <img src="{{r.image}}-/resize/355x/" class="mx-3" alt="{{r.product_name}}">
                </div>
                {% endif %}

                <div class="pr-4 col-sm-6">
                    <h4 class="mt-0">{{r.title}} 
                        <span class="float-right">
                            <a href="{{url_for('edit_review', review_id=r._id)}}">
                                <i class="my-0 pb-2" data-feather="edit"></i> 
                            </a>
                            <a href="{{url_for('delete_review', review_id=r._id)}}">
                                <i class="my-0 pb-2" data-feather="trash-2"></i>
                            </a>
                        </span>
                    </h4>   
                    <p><strong>{{r.product_name}}</strong><br/>
                    {% set rating = r.rating | int %}
                    {% for i in range(0,rating) %}
                        <span class="pink-text stars"> <i class="fas fa-star"></i></span>
                    {% endfor %}</p>
                    <p>{{r.review}}</p>
                    <p class="card-text"><small class="text-muted">Posted on {{r.posted.strftime("%d-%m-%Y, %H:%M:%S")}}</small></p>
                    
                </div>
                
                <div class="vw-100 clearfix"></div>
                </div>

        {% endfor %}
</div>
    
{% endblock %}