{% extends 'main.template.html' %}

    {% block title %} Beauty Sharings {% endblock %}     


    {% block content %}

    <div class="container">

    <div class="card-group">
        {% for s in skincare %}
        <div class="card">
            <img src="{{s.image}}}" class="card-img-top" alt="{{s.product_name}}">
            <div class="card-body">
            <h5 class="card-title">{{s.title}}</h5>
            <p class="card-text">{{s.product_name}}<br/>
                {% set rating = s.rating | int %}
                {% for i in range(0,rating) %}
                    <span class="pink-text"> <i class="fas fa-star"></i></span>
                {% endfor %}
            </p>
            <p class="card-text"><small class="text-muted">Posted by {% for u in users if s.user_id==u._id %}{{u.name}}{% endfor%} on {{s.posted}}</small></p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="card-group">
        {% for c in cosmetics %}
        <div class="card">
            <img src="{{c.image}}}" class="card-img-top" alt="{{c.product_name}}">
            <div class="card-body">
            <h5 class="card-title">{{c.title}}</h5>
            <p class="card-text">{{c.product_name}}<br/>
                {% set rating = c.rating | int %}
                {% for i in range(0,rating) %}
                    <span class="pink-text"> <i class="fas fa-star"></i></span>
                {% endfor %}
            </p>
            <p class="card-text"><small class="text-muted">Posted by {% for u in users if c.user_id==u._id %}{{u.name}}{% endfor%} on {{c.posted}}</small></p>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
    <div class="container">
    <div class="row">

    {% for r in reviews %}
        <div class="col">
        <h4>{{r.title}}</h4>
        Posted By: {% for u in users if r.user_id==u._id %}{{u.name}}{% endfor%}<br/>
        Posted On: {{r.posted}}<br/>
        Product Name: {{r.product_name}}<br/>
        Brand: {{r.product_brand}}</br>
        Country of Origin: {{r.country_of_origin}}<br/>
        Categories: {% for category in r.categories %}
                        {{category.name}}
                    {% endfor %}<br/>
        Ratings: {{ r.rating }}<br/>
        Review: {{ r.review }}<br/>
       
        <a href="{{url_for('edit_review', review_id=r._id)}}">Edit Review</a>
        <a href="{{url_for('delete_review', review_id=r._id)}}">Delete</a>
        </div>
    {% endfor %}
        </div>
    </div>
    {% endblock %}
