<!-- inherits layout from the main template -->
{% extends 'main.template.html' %} 

<!-- define the page title -->
{% block page_title %}Latest Reviews {% endblock %}

<!-- define the H1 title -->
{% block title %} Latest Reviews {% endblock%} 

{% block content %}

<div class="container-flex my-1 py-3 mx-auto px-0">
  <h2 class="text-center mb-2">
  <a class="cursive-font" href="{{url_for('read_reviews_by_category', cat_id='5e9ffc631c9d440000be6574')}}">SKIN CARE</a>
  </h2>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center mx-0 px-3 py-2">
  <!-- display the latest 4 reviews in Skin Care category -->
    {% for item in skincare %}
    <div class="col mb-2">
      <div class="card h-100" data-aos="fade-up" data-aos-delay="50">
        <!-- if image exists then load the image in 355px width -->
        {% if item.image %}
        <a href="{{ url_for('view_review_details', review_id=item._id)}}">
        <img
          src="{{item.image}}-/resize/355x/"
          class="card-img-top"
          alt="{{item.product_name}}"
        />
        </a>
        {% endif %}
        <div class="card-body">
          <p class="card-text">
            <!-- display details for the review -->
            <!-- show the product name of the review -->
            <strong>{{item.product_name}}</strong><br />
            <!-- followed by the brand of the product and country of origin -->
            {{item.product_brand}} from {{item.country_of_origin}}<br />
            <!-- get the rating and show in stars -->
            {% set rating = item.rating | int %} {% for i in range(0,rating) %}
            <span class="pink-text stars"> <i class="fas fa-star"></i></span>
            {% endfor %}
          </p>
          
          <h5 class="card-title mb-1 mt-0 pink-text">
                <a href="{{ url_for('view_review_details', review_id=item._id)}}">
                {{item.title}}
                </a>
          </h5>
          <div class="card-text">
            <!-- get user name using user id, format datatime string to readable format -->
            <small class="text-muted">
              Posted by {% for u in users if item.user_id==u._id
              %}{{u.name}}{%endfor%} on {{item.posted.strftime("%d-%m-%Y,
              %H:%M:%S")}}</small>
            <p class="text-truncate">
            {{ item.review }}
          </p>
          </div>
          <!-- truncate the review text into 1 line to keep the page cleaner -->
          
          <!-- end of displaying details for the review -->
          <a class="btn link-border" href="{{ url_for('view_review_details', review_id=item._id)}}">read more</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container-flex my-3 py-5 mx-auto px-0 lightpink-bg">
  <h2 class="text-center mb-2">
    <a class="cursive-font" href="{{url_for('read_reviews_by_category', cat_id='5e9ffcb91c9d440000be6575')}}">MAKE UP</a>
  </h2>

  <!-- display the latest 4 reviews in Cosmetics category -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center mx-0 px-3 py-2">
    {% for item in cosmetics %}
    <div class="col mb-2">
      <div class="card h-100" data-aos="fade-up" data-aos-delay="50">
        {% if item.image %}
        <a href="{{ url_for('view_review_details', review_id=item._id)}}">
        <img
          src="{{item.image}}-/resize/355x/"
          class="card-img-top"
          alt="{{item.product_name}}"
        /></a>  
        {% endif %}
        <div class="card-body">
          <p class="card-text">
            <strong>{{item.product_name}}</strong><br />
            {{item.product_brand}} from {{item.country_of_origin}}<br />
            {% set rating = item.rating | int %} {% for i in range(0,rating) %}
            <span class="pink-text stars"> <i class="fas fa-star"></i></span>
            {% endfor %}
          </p>
          
          <h5 class="card-title mb-1 mt-0 pink-text">
                <a href="{{ url_for('view_review_details', review_id=item._id)}}">
                {{item.title}}
                </a>
          </h5>
          <div class="card-text">
            <!-- get user name using user id, format datatime string to readable format -->
            <small class="text-muted">
              Posted by {% for u in users if item.user_id==u._id
              %}{{u.name}}{%endfor%} on {{item.posted.strftime("%d-%m-%Y,
              %H:%M:%S")}}</small>
            <p class="text-truncate">
            {{ item.review }}
          </p>
          </div>
          <a class="btn link-border" href="{{ url_for('view_review_details', review_id=item._id)}}">read more</a>
          
        </div>
      </div>
    </div>
    {% endfor %}
   
  </div>
</div>

<div class="container my-3 py-5 mx-auto px-0">
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 px-sm-2 mx-0 justify-content-center">
  <div class="col-sm mb-4">
    <h2 class="text-center mb-2">
        <a class="cursive-font" href="{{url_for('read_reviews_by_category', cat_id='5e9ffde81c9d440000be6576')}}">BODY CARE</a>
    </h2>
      <!-- display the latest review in Body Care category -->
      {% for item in bodycare %}
        <div class="card mb-2 mx-auto" data-aos="fade-up" data-aos-delay="50">
          {% if item.image %}
            <a href="{{ url_for('view_review_details', review_id=item._id)}}">

            <img
                src="{{item.image}}-/resize/355x/"
                class="card-img-top"
                alt="{{item.product_name}}" />
            </a>
          {% endif %}
          <div class="card-body">
            <p class="card-text">
              <strong>{{item.product_name}}</strong><br />
              {{item.product_brand}} from {{item.country_of_origin}}<br />
              {% set rating = item.rating | int %} {% for i in range(0,rating)
              %}
              <span class="pink-text stars"> <i class="fas fa-star"></i></span>
              {% endfor %}
            </p>
            
            <h5 class="card-title mb-1 mt-0 pink-text">
                <a href="{{ url_for('view_review_details', review_id=item._id)}}">
                {{item.title}}
                </a>
            </h5>
            <div class="card-text">
            <!-- get user name using user id, format datatime string to readable format -->
            <small class="text-muted">
              Posted by {% for u in users if item.user_id==u._id
              %}{{u.name}}{%endfor%} on {{item.posted.strftime("%d-%m-%Y,
              %H:%M:%S")}}</small>
            <p class="text-truncate">
            {{ item.review }}
          </p>
          </div>
            <a class="btn link-border" href="{{ url_for('view_review_details', review_id=item._id)}}">read more</a>
            
          </div>
        </div>
      {% endfor %}
      
  </div>
  <div class="col-sm">
    <h2 class="text-center mb-2">
        <a class="cursive-font" href="{{url_for('read_reviews_by_category', cat_id='5ea004bd1c9d440000be657b')}}">HAIR CARE</a>
    </h2>
        <!-- display the latest review in Hair Care category -->
        {% for item in haircare %}
        <div class="card mb-4 mx-auto" data-aos="fade-up" data-aos-delay="50">
            {% if item.image %}
            <a href="{{ url_for('view_review_details', review_id=item._id)}}">
            <img
            src="{{item.image}}-/resize/355x/"
            class="card-img-top"
            alt="{{item.product_name}}"
            /></a>
            {% endif %}
            <div class="card-body">
            <p class="card-text">

                <strong>{{item.product_name}}</strong><br />
                {{item.product_brand}} from {{item.country_of_origin}}<br />
                {% set rating = item.rating | int %} {% for i in range(0,rating) %}
                <span class="pink-text stars"> <i class="fas fa-star"></i></span>
                {% endfor %}
            </p>
            
            <h5 class="card-title mb-1 mt-0 pink-text">
                    <a href="{{ url_for('view_review_details', review_id=item._id)}}">
                    {{item.title}}
                    </a>
            </h5>
            <div class="card-text">
            <!-- get user name using user id, format datatime string to readable format -->
            <small class="text-muted">
              Posted by {% for u in users if item.user_id==u._id
              %}{{u.name}}{%endfor%} on {{item.posted.strftime("%d-%m-%Y,
              %H:%M:%S")}}</small>
            <p class="text-truncate">
            {{ item.review }}
          </p>
          </div>
            <a class="btn link-border" href="{{ url_for('view_review_details', review_id=item._id)}}">read more</a>
            
            </div>
        </div>
        {% endfor %}
  </div>
  <div class="col-sm">
    <h2 class="text-center mb-2">
        <a class="cursive-font" href="{{url_for('read_reviews_by_category', cat_id='5ea10232b5fbd91dd843ca13')}}">FOR MEN</a>
    </h2>

    <!-- display the latest review in For Men category -->

    {% for item in formen %}
    <div class="card mb-4 mx-auto" data-aos="fade-up" data-aos-delay="50">
    {% if item.image %}
    <a href="{{ url_for('view_review_details', review_id=item._id)}}">
    <img
        src="{{item.image}}-/resize/355x/"
        class="card-img-top"
        alt="{{item.product_name}}"
    /></a>
    {% endif %}
    <div class="card-body">
        <p class="card-text">
        <strong>{{item.product_name}}</strong><br />
        {{item.product_brand}} from {{item.country_of_origin}}<br />
        {% set rating = item.rating | int %} {% for i in range(0,rating) %}
        <span class="pink-text stars"> <i class="fas fa-star"></i></span>
        {% endfor %}
        </p>
        
        <h5 class="card-title mb-1 mt-0 pink-text">
            <a href="{{ url_for('view_review_details', review_id=item._id)}}">
            {{item.title}}
            </a>
        </h5>
        <div class="card-text">
            <!-- get user name using user id, format datatime string to readable format -->
            <small class="text-muted">
              Posted by {% for u in users if item.user_id==u._id
              %}{{u.name}}{%endfor%} on {{item.posted.strftime("%d-%m-%Y,
              %H:%M:%S")}}</small>
            <p class="text-truncate">
            {{ item.review }}
          </p>
          </div>
        <a class="btn link-border" href="{{ url_for('view_review_details', review_id=item._id)}}">read more</a>
        
    </div>
    </div>
    {% endfor %}
      
  </div>
</div>
</div>

{% endblock %}
