{% extends 'main.template.html' %}

{% block page_title %}Reviews for {{current_cat.name}}{% endblock %}

{% block title %}Reviews for {{current_cat.name}}{% endblock %}

{% block content %}

    <div class="container-flex px-0 mx-0">
        <div class="row justify-content-center px-0 mx-0">
            <div class="col-sm-8 text-center">
                <p>{{ current_cat.desc}}</p>
            </div>
        </div>
        <div class="row justify-content-center px-0 mx-0">
                <div class="col justify-content-center">
                <div class="card-columns">
                    {% for r in reviews %}
                    <div class="card" data-aos="fade-up" data-aos-delay="20">
                        {% if r.image %}
                        <a href="{{ url_for('view_review_details', review_id=r._id)}}">
                        <img src="{{r.image}}-/resize/355x/" class="card-img-top" alt="{{r.product_name}}" >
                        </a>
                        {% endif %}
                        <div class="card-body">
                        <p class="card-text">{{r.product_name}}<br/>
                        {{r.product_brand}} from {{r.country_of_origin}}<br/>
                            {% set rating = r.rating | int %}
                            {% for i in range(0,rating) %}
                                <span class="pink-text stars"> <i class="fas fa-star"></i></span>
                            {% endfor %}
                        </p>
                        <h5 class="card-title pink-text mb-0 pb-0">
                            <a href="{{ url_for('view_review_details', review_id=r._id)}}">
                            {{r.title}}
                            </a>
                        </h5>
                        <div class="card-text">
                            <!-- reset the cursor for all_users --> 
                            {% set _stub = all_users.rewind() %}

                            <!-- get user name using user id, format datatime string to readable format -->
                            <small class="text-muted">
                            Posted by {% for u in users if r.user_id==u._id
                            %}{{u.name}}{%endfor%} on {{r.posted.strftime("%d-%m-%Y,
                            %H:%M:%S")}}</small>
                            <p class="text-truncate">
                            {{ r.review }}
                        </p>
                        </div>
                        <a class="btn btn-sm link-border" href="{{ url_for('view_review_details', review_id=r._id)}}">read more</a>

                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>
        </div>
{% endblock %}