{% extends 'main.template.html' %} {% block title %} Latest Review {% endblock
%} {% block content %}

<div class="container-flex my-1 py-3 mx-auto px-0">
  <h2 class="text-center pink-text mb-2">SKIN CARE</h2>

  <div
    class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center mx-0 px-3 py-2"
  >
    {% for item in skincare %}
    <div class="col">
      <div class="card h-100" data-aos="fade-up" data-aos-delay="50">
        {% if item.image %}
        <img
          src="{{item.image}}}"
          class="card-img-top"
          alt="{{item.product_name}}"
        />
        {% endif %}
        <div class="card-body">
          <p class="card-text">
            <strong>{{item.product_name}}</strong><br />
            {{item.product_brand}} from {{item.country_of_origin}}<br />
            {% set rating = item.rating | int %} {% for i in range(0,rating) %}
            <span class="pink-text stars"> <i class="fas fa-star"></i></span>
            {% endfor %}
          </p>
          <h5 class="card-title mb-0 mt-0 pink-text">{{item.title}}</h5>
          <p class="card-text">
            {{ item.review }}
          </p>
          <p class="card-text">
            <small class="text-muted">
              Posted by {% for u in users if item.user_id==u._id
              %}{{u.name}}{%endfor%} on {{item.posted.strftime("%d-%m-%Y,
              %H:%M:%S")}}</small
            >
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="text-right ml-auto px-3 small-link">
      <a
        href="{{url_for('read_reviews_by_category', cat_id='5e9ffc631c9d440000be6574')}}"
        >more<i data-feather="more-horizontal"></i
      ></a>
    </div>
  </div>
</div>

<div class="container-flex my-3 py-5 mx-auto px-0 lightpink-bg">
  <h2 class="text-center pink-text mb-2">COSMETICS</h2>

  <div
    class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-center mx-0 px-3 py-2"
  >
    {% for item in cosmetics %}
    <div class="col">
      <div class="card h-100" data-aos="fade-up" data-aos-delay="50">
        {% if item.image %}
        <img
          src="{{item.image}}}"
          class="card-img-top"
          alt="{{item.product_name}}"
        />
        {% endif %}
        <div class="card-body">
          <p class="card-text">
            <strong>{{item.product_name}}</strong><br />
            {{item.product_brand}} from {{item.country_of_origin}}<br />
            {% set rating = item.rating | int %} {% for i in range(0,rating) %}
            <span class="pink-text stars"> <i class="fas fa-star"></i></span>
            {% endfor %}
          </p>
          <h5 class="card-title mb-0 mt-0 pink-text">{{item.title}}</h5>
          <p class="card-text">
            {{ item.review }}
          </p>
          <p class="card-text">
            <small class="text-muted">
              Posted by {% for u in users if item.user_id==u._id
              %}{{u.name}}{%endfor%} on {{item.posted.strftime("%d-%m-%Y,
              %H:%M:%S")}}</small
            >
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="text-right ml-auto px-3">
      <a
        href="{{url_for('read_reviews_by_category', cat_id='5e9ffcb91c9d440000be6575')}}"
        >more<i data-feather="more-horizontal"></i
      ></a>
    </div>
  </div>
</div>


<div class="container-flex my-3 py-5 mx-0 px-0">

<div class="row row-cols-1 row-cols-md-3 px-5 mx-0">
  <div class="col mb-4">
    <h2 class="text-center pink-text mb-2">BODY CARE</h2>
      {% for item in bodycare %}
        <div class="card h-100 mb-2" data-aos="fade-up" data-aos-delay="50">
          {% if item.image %}
          <img
            src="{{item.image}}}"
            class="card-img-top"
            alt="{{item.product_name}}"
          />
          {% endif %}
          <div class="card-body">
            <p class="card-text">
              <strong>{{item.product_name}}</strong><br />
              {{item.product_brand}} from {{item.country_of_origin}}<br />
              {% set rating = item.rating | int %} {% for i in range(0,rating)
              %}
              <span class="pink-text stars"> <i class="fas fa-star"></i></span>
              {% endfor %}
            </p>
            <h5 class="card-title mb-0 mt-0 pink-text">{{item.title}}</h5>
            <p class="card-text">
              {{ item.review }}
            </p>
            <p class="card-text">
              <small class="text-muted">
                Posted by {% for u in users if item.user_id==u._id
                %}{{u.name}}{%endfor%} on {{item.posted.strftime("%d-%m-%Y,
                %H:%M:%S")}}</small
              >
            </p>
          </div>
        </div>
      {% endfor %}
      <div class="text-right ml-auto px-3">
        <a
          href="{{url_for('read_reviews_by_category', cat_id='5e9ffde81c9d440000be6576')}}"
          >more<i data-feather="more-horizontal"></i
        ></a>
      </div>
  </div>
  <div class="col mb-4">
    <h2 class="text-center pink-text mb-2">HAIR CARE</h2>
      {% for item in haircare %}
      <div class="card h-100" data-aos="fade-up" data-aos-delay="50">
        {% if item.image %}
        <img
          src="{{item.image}}}"
          class="card-img-top"
          alt="{{item.product_name}}"
        />
        {% endif %}
        <div class="card-body">
          <p class="card-text">
            <strong>{{item.product_name}}</strong><br />
            {{item.product_brand}} from {{item.country_of_origin}}<br />
            {% set rating = item.rating | int %} {% for i in range(0,rating) %}
            <span class="pink-text stars"> <i class="fas fa-star"></i></span>
            {% endfor %}
          </p>
          <h5 class="card-title mb-0 mt-0 pink-text">{{item.title}}</h5>
          <p class="card-text">
            {{ item.review }}
          </p>
          <p class="card-text">
            <small class="text-muted">
              Posted by {% for u in users if item.user_id==u._id
              %}{{u.name}}{%endfor%} on {{item.posted.strftime("%d-%m-%Y,
              %H:%M:%S")}}</small
            >
          </p>
        </div>
      </div>
      {% endfor %}
      <div class="text-right ml-auto px-3">
        <a
          href="{{url_for('read_reviews_by_category', cat_id='5e9ffde81c9d440000be6576')}}"
          >more<i data-feather="more-horizontal"></i
        ></a>
      </div>
  </div>
  <div class="col mb-4">
    <h2 class="text-center pink-text mb-2">FOR MEN</h2>
      {% for item in formen %}
      <div class="card h-100" data-aos="fade-up" data-aos-delay="50">
        {% if item.image %}
        <img
          src="{{item.image}}}"
          class="card-img-top"
          alt="{{item.product_name}}"
        />
        {% endif %}
        <div class="card-body">
          <p class="card-text">
            <strong>{{item.product_name}}</strong><br />
            {{item.product_brand}} from {{item.country_of_origin}}<br />
            {% set rating = item.rating | int %} {% for i in range(0,rating) %}
            <span class="pink-text stars"> <i class="fas fa-star"></i></span>
            {% endfor %}
          </p>
          <h5 class="card-title mb-0 mt-0 pink-text">{{item.title}}</h5>
          <p class="card-text">
            {{ item.review }}
          </p>
          <p class="card-text">
            <small class="text-muted">
              Posted by {% for u in users if item.user_id==u._id
              %}{{u.name}}{%endfor%} on {{item.posted.strftime("%d-%m-%Y,
              %H:%M:%S")}}</small
            >
          </p>
        </div>
      </div>
      {% endfor %}
      <div class="text-right ml-auto px-3">
        <a
          href="{{url_for('read_reviews_by_category', cat_id='5e9ffde81c9d440000be6576')}}"
          >more<i data-feather="more-horizontal"></i
        ></a>
      </div>
  </div>
</div>
</div>

{% endblock %}
