{% extends 'home.template.html' %}

{% block page_title %} Login {% endblock %}    

 {% block content %}

    <div id="login" class="m-0 p-0 mx-auto mh-100 vh-100 h-100">
        <div class="row align-items-center h-100 mh-100 mr-0 justify-content-center">
            <div class="col-lg-6 col-sm-6 col-md-10 box-shadow bg-white p-5 mx-auto">
                <h1 class="text-center mb-5">Login</h1>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p class="flashes text-center pink-text" >
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                    </p>
                {% endif %}
                {% endwith %}
                <form method="POST" class="needs-validation" novalidate>
                    <div class="form-group row justify-content-center mb-3">
                        <label class="col-form-label col-sm-2 col-md-2" for="InputEmail"> Email
                        </label>
                        <div class="col-sm-8 col-md-8">
                            <input class="form-control rounded-0 border-top-0 border-left-0 border-right-0 border-bottom" type="text" name="email" required />
                            <div class="invalid-feedback">
                                Please enter the email address you registered with us
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <label class="col-form-label col-sm-2 col-md-2">Password </label>
                        <div class="col-sm-8 col-md-8">
                            <input class="form-control rounded-0 border-top-0 border-left-0 border-right-0 border-bottom" type="password" name="password" required />
                            <div class="invalid-feedback">
                                Please enter your password
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center mt-5">
                    <button type="submit" class="col-sm-3 form-control btn link-border m-2">Login</button>
                    <a class="m-2 col-sm-3 link-border btn" href="{{ url_for('read_reviews')}}">Cancel</a>
                    </div>
                </form>
                <div class="text-center">
                 <a class="small-link" href="{{url_for('add_user')}}">Don't have an account? Register here</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
